:root {
   --font-family-global:  font-family: "Bebas Neue", serif;
   --font-size-title: 2rem;
   --padding-global: 1.5rem;
}

body {
   font-family: var(--font-family-global);
   font-weight: 200;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: #f3f4f6;
   background: linear-gradient(90deg, #8873e6, #32325b);
   background-size: 200% 200%;
   animation: gradientMove 5s infinite;
}

@keyframes gradientMove {
   0% { background-position: 0% 50%; }
   50% { background-position: 100% 50%; }
   100% { background-position: 0% 50%; }
}

.container {
   text-align: center;
   background: white;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1) ;
   width: 500px;
}

h1 {
   font-size: 24px;
   color: #333;
   margin-bottom: 20px;
}

.phrase-box {
   border: 2px #ccc;
   padding: 15px;
   margin-bottom: 20px;
   font-size: 16px;
   color: #555;
   background: #f9f9f9;
   min-height: 50px;
   font-size: 1.2em;
   color: #333;
   text-align: center;
   margin: 20px;
}

#phrase-box p:first-child {
   font-style: italic;
   margin-bottom: 10px;
}


#phrase-box p:last-child {
   font-weight: bold;
   color: #555;
}

.buttons {
   display: flex;
   justify-content: space-between;
}


button {
   padding: 10px 15px;
   font-size: 14px;
   color: white;
   background-color: #007bff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
   font-family: var(--font-family-global);
}

button:hover {
   background-color: #69d2e7;
}

button#reset-btn {
   background-color: #ff5252;
}

button#reset-btn:hover {
   background-color: #c41e1e;
}


